{% extends 'base.html.twig' %}

{% block title %}New Instalacion{% endblock %}

{% block body %}
    <h1>Create new Instalacion</h1>

    {{ include('instalacion/_form.html.twig') }}

    <a href="{{ path('app_instalacion_index') }}">back to list</a>
{% endblock %}
